@charset "UTF-8";

:root {
	--main-font: 'Verdana', sans-serif;
	--font-size-H0: 5.00vw
		/*72px*/
	;
	--font-size-H2: 2.22vw
		/*32px*/
	;
	--font-size-H3: 1.67vw
		/*24px*/
	;
	--font-size-H4: 1.25vw
		/*18px*/
	;
	--font-size-paragraph-description: 1.11vw
		/*16px*/
	;
	--font-weight-bold: 700;
	--font-weight-normal: 400;
}



* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
	line-height: normal;
}

body {
	background-color: #000000;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;


}

#w {
	color: #ECF0F1;
}

hr {
	/* 	margin-top:11.25vmin; */
	padding-top: 0.20vh;
	border: hidden;
	background: linear-gradient(-50.455deg, #A2836E 0%, #2C3E50 100%);
}


.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6.35vh;
	color: #ECF0F1;
	margin-bottom: 7.81vh;
	margin-top: 13.28vh;
}

.heading {
	color: #E1E5E5;
	margin-top: 3.91vh;
	font-family: var(--main-font);
	font-size: var(--font-size-H0);
	font-weight: var(--font-weight-bold);
	font-style: normal;
	line-height: normal;

}

.wrapper {
	width: 87.15vw;
	display: flex;
	flex-direction: column;
	gap: 3.13vh;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 4.69vh;
	justify-content: center;

}

.sub-heading {
	color: #D9D9D9;
	font-family: var(--main-font);
	font-size: var(--font-size-H2);
	font-weight: var(--font-weight-normal);
	font-style: normal;
	line-height: normal;
}

.description {
	color: #BBBEBF;
	font-family: var(--main-font);
	font-size: var(--font-size-H3);
	font-weight: var(--font-weight-normal);
	font-style: normal;
	line-height: normal;
}
 .black-white img {
      filter: grayscale(100%);
   }

@media only screen and (max-width:480px) {

	
	/*main*/
	.main{
	gap:2.82vh;
	margin-top:9.62vh;
	margin-bottom:3.76vh;
	align-items:flex-start;
	padding-left:5.13vw;
	}
	
	.heading{
	margin-top:0;
	font-size:10.26vw;
	text-align:left;
	}
	.container{
	gap:4.69vh;
	}
	.wrapper{
	width:89.74vw;
	gap:2.35vh;
	}
	
	
	.sub-heading{
	font-size:6.15vw;
	}
	.description{
	font-size:4.10vw;
	}


}