@charset "UTF-8";

:root {
	--main-font: 'Verdana', sans-serif;
	--font-size-H2: 2.22vw
		/*32px*/
	;
	--font-size-H3: 1.67vw
		/*24px*/
	;
	--font-size-H4: 1.25vw
		/*18px*/
	;
	--font-size-paragraph-description: 1.11vw
		/*16px*/
	;
	--font-weight-bold: 700;
	--font-weight-normal: 400;
}



* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
	line-height: normal;
}

body {
	background-color: #000000;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#w {
	color: #ECF0F1;
}

hr {
	/* 	margin-top:11.25vmin; */
	padding-top: 0.20vh;
	border: hidden;
	background: linear-gradient(-50.455deg, #A2836E 0%, #2C3E50 100%);
}

.main {

	width: 100vw;
	height: 85vh;
	background: red;
}
.gallery {
	display: grid;
	grid-template-columns: repeat(3, 27.57vw);
	margin: 14.06vh 7.22vw 7.81vh 7.22vw;
	gap: 1.17vh 1.39vw;
}


.image {
	/* 	width:27.57vw; */
	/* 	height:47.27vh; */
	width: 27.57vw;
	height: 484px;
	overflow: hidden;
	border-radius: 1.32vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;

}

/* all images background cards */

.image.i1 {
	background: url(images/Zoro_artwork.png) lightgray 50% / cover no-repeat;
}

.image.i2 {
	background: url(images/John_Wick.png) lightgray 50% / cover no-repeat;
}

.image.i3 {
	background: url(images/Moonfall.png) lightgray 50% / cover no-repeat;
}

.image.i4 {
	background: url(images/Cillian_Murphy.png) lightgray 50% / cover no-repeat;
}

.image.i5 {
	background: url(images/Lamp_artwork.png) lightgray 50% / cover no-repeat;
}

.image.i6 {
	background: url(images/Selena.png) lightgray 50% / cover no-repeat;
}

.image.i7 {
	background: url(images/Killua.png) lightgray 50% / cover no-repeat;
}

.image.i8 {
	background: url(images/Mother_teresa.png) lightgray 50% / cover no-repeat;
}

.image.i9 {
	background: url(images/Johnny_depp.png) lightgray 50% / cover no-repeat;
}

.image.i1, .image.i2, .image.i3, .image.i4, .image.i5, .image.i6, .image.i7, .image.i8, .image.i9{
	background-size: 34.17vw 600px;
	transition: all .3s ease-in-out;
}



.image:hover {
	background-size: 27.57vw 484px;
}

.fade {
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	align-items: left;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.85) 100%), rgba(0, 0, 0, 0.20);

}

.description {
	display: flex;
	width: 100%;
	padding: 0vh 0vw 1.17vh 0.83vw;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	gap: 0.78vh;
}

h4 {
	text-align: left;
	font-family: var(--main-font);
	font-size: var(--font-size-H4);
	font-weight: var(--font-weight-normal);
	line-height: normal;
	font-style: normal;
	color: #ECF0F1;
}

h4.topic {
	font-weight: var(--font-weight-bold);
	padding: 0;

}

@media only screen and (max-width:480px) {

/* other css */
	.gallery{
	grid-template-columns: repeat(2, 42.82vw);
	margin:9.62vh 5.13vw 3.76vh 5.13vw;
	gap:1.41vh 4.10vw;
	}
.image{
	width:42.82vw;
	height:23.94vh; /*204px eq*/
	border-radius: 2.05vw;
	
}
.image.i1, .image.i2, .image.i3, .image.i4, .image.i5, .image.i6, .image.i7, .image.i8, .image.i9{
	background-size:52.98vw 29.58vh/*252px eq*/;
	transition: all .3s ease-in-out;
}
.image:hover {
	background-size:42.75vw 23.86vh;
}
	h4{
	font-size:1.94vw;
	}

}