@charset "UTF-8";
:root {
  --main-font: 'Verdana', sans-serif;
  --font-size-H2:2.22vw/*32px*/;
  --font-size-H3: 1.67vw/*24px*/;
  --font-size-H4: 1.25vw /*18px*/;
  --font-size-paragraph-description: 1.11vw /*16px*/;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
}



* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	overflow:hidden;
	line-height: normal;
}
body{
	background-color:#000000;
	overflow:hidden;
	display:flex;
	align-items:center;
	
}


.bg{
	width:34.31vw;
	height:100vh;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.95) 100%), url(images/Abstract_background.png) lightgray 50% / cover ;
}

.main{
	width:65.69vw;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
	color:white;
	padding-top:24.22vh;
	padding-bottom:6.25vh;
	
}

.sign-up{
	padding-top:2.34vh;
	padding-bottom:10.74vh;
	width:42.08vw;
	height:57.03vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:flex-start;
	gap: 5.47vh;
}
form{
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:2.34vh;
}
input{
	width: 33.61vw;
	height:5.08vh;
	display:flex;
	padding: 1.46vh 16.46vw 1.46vh 1.25vw;
	text-align:left;
	
	border-radius: 8px;
	border: 1px solid #222432;
	background: #080808;
	
	color: #8B8B8B;
	font-family: var(--main-font);
  	font-size: var(--font-size-H4);
  	font-weight: var(--font-weight-normal);
  	line-height: normal;
  	font-style:normal;
}

.heading{
	color: #ECF0F1;
	font-family: var(--main-font);
  	font-size: var(--font-size-H3);
  	font-weight: var(--font-weight-bold);
  	line-height: normal;
  	font-style:normal;
}

button{
	margin-top: 1.17vh;
	display: flex;
	width: 33.61vw;
	padding: 0.78vh 11.11vw;
	justify-content: center;
	align-items: flex-end;
	gap: 1.94vw;
	border-radius: 1.11vw;
	border: 1px solid #4C5DB9;
	background:#2C3E50;
}


.sub-heading, a{
	font-family: var(--main-font);
  	font-size: var(--font-size-H4);
  	font-weight: var(--font-weight-normal);
  	line-height: normal;
  	font-style:normal;
}

.sub-heading{
	color: #75778B;
}

a{
	text-decoration:none;
	color: #1A4C80;
}

